In [64]:
## connect with google drive
!unzip /content/drive/MyDrive/ReTweets_Jan_to_April_2021.zip

Archive:  /content/drive/MyDrive/ReTweets_Jan_to_April_2021.zip
replace ReTweets_Jan_to_April_2021.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [65]:
## import library
import numpy as np
import pandas as pd
import string
import re

In [66]:
df = pd.read_csv('/content/ReTweets_Jan_to_April_2021.csv')
df.head(4)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (14,15,30,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,created_at,id,id_str,full_text,truncated,display_text_range,entities,source,in_reply_to_status_id,in_reply_to_status_id_str,...,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status,extended_entities,withheld_scope,withheld_copyright,withheld_in_countries
0,2021-01-02 07:47:28+00:00,1345275503167606784,1345275503167606784,#AmberHeardisAGoldDigger #JusticeForJohnnyDepp...,False,"[0, 46]",{'hashtags': [{'text': 'AmberHeardisAGoldDigge...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,NaN,...,0,False,False,0.0,und,NaN,NaN,NaN,NaN,NaN
1,2021-01-02 07:47:56+00:00,1345275620830412801,1345275620830412800,#AmberHeardIsALiar #AmberHeardIsAnAbuser #Ambe...,False,"[0, 84]","{'hashtags': [{'text': 'AmberHeardIsALiar', 'i...","<a href=""http://twitter.com/download/android"" ...",NaN,NaN,...,2,False,False,0.0,und,{'created_at': 'Fri Jan 01 21:03:26 +0000 2021...,NaN,NaN,NaN,NaN
2,2021-01-02 07:52:23+00:00,1345276739832979456,1345276739832979456,Happy New Year üçÄüçæü•ÇüçÄ\n#JohnnyDeppIsInnocent\n#J...,False,"[0, 63]","{'hashtags': [{'text': 'JohnnyDeppIsInnocent',...","<a href=""http://twitter.com/download/android"" ...",NaN,NaN,...,1,False,False,0.0,en,{'created_at': 'Fri Jan 01 00:19:42 +0000 2021...,NaN,NaN,NaN,NaN
3,2021-01-02 07:55:02+00:00,1345277404948926464,1345277404948926464,Amber heard is a scum and a horrible person be...,False,"[0, 134]","{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,...,2,False,False,NaN,en,NaN,NaN,NaN,NaN,NaN

In [67]:
df['full_text'][1]

'#AmberHeardIsALiar #AmberHeardIsAnAbuser #AmberHeardDidNotDonate #AmberHeardIsAFraud https://t.co/9fJatqvmpl'

In [68]:
## unnecessary column
# unnecessaryColumn = ['id' , 'id_str' , 'created_at' , 'full_text' , 'display_text_range' , 'in_reply_to_status_id_str']
# df.drop(unnecessaryColumn , axis = 1 , inplace = True)
# df.head(4)

In [69]:
df['in_reply_to_user_id'].value_counts()

9.059816e+17    2811
8.070036e+17    2282
1.103738e+18     901
3.309371e+09     701
5.447652e+07     568
                ...
1.963008e+08       1
1.773413e+08       1
1.343106e+18       1
1.172481e+18       1
4.527950e+09       1
Name: in_reply_to_user_id, Length: 15015, dtype: int64

In [70]:
df['user'][10000]

"{'id': 1285238063497527298, 'id_str': '1285238063497527298', 'name': 'üòÄüê∂‚òÅÔ∏èüåàrhianeüáµüá≠üá∫üá∏üíï‚ú®', 'screen_name': '5lmpIyRh14n3', 'location': 'Earth', 'description': '‚ú®multifandoms || beliza/bellarkeüíï || KTFü¶ãGKüèòÔ∏è ll she/herüíóüíúüíôüåà || adult & wl not keep it PG13 || equality for all || survivor & thriving üèÜ || single mom‚ú®', 'url': 'https://t.co/S9CwLjmhAO', 'entities': {'url': {'urls': [{'url': 'https://t.co/S9CwLjmhAO', 'expanded_url': 'https://www.gk1world.com/home', 'display_url': 'gk1world.com/home', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 474, 'friends_count': 756, 'listed_count': 4, 'created_at': 'Mon Jul 20 15:40:59 +0000 2020', 'favourites_count': 163370, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 31265, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': None, 'profile_background_image_url_https': None, 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1426822393234804738/zL3YTEuG_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1426822393234804738/zL3YTEuG_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1285238063497527298/1615168678', 'profile_image_extensions_alt_text': None, 'profile_banner_extensions_alt_text': None, 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': True, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}"

In [71]:
df['in_reply_to_status_id'].value_counts()

1.383830e+18    477
1.383121e+18    255
1.375540e+18    246
1.350264e+18    210
1.350556e+18    182
               ...
1.358215e+18      1
1.358216e+18      1
1.358196e+18      1
1.358216e+18      1
1.379577e+18      1
Name: in_reply_to_status_id, Length: 42739, dtype: int64

In [72]:
## shape of the data 
print(df.shape)

(205445, 33)

In [73]:
df['in_reply_to_status_id'].value_counts()

1.383830e+18    477
1.383121e+18    255
1.375540e+18    246
1.350264e+18    210
1.350556e+18    182
               ...
1.358215e+18      1
1.358216e+18      1
1.358196e+18      1
1.358216e+18      1
1.379577e+18      1
Name: in_reply_to_status_id, Length: 42739, dtype: int64

In [74]:
df.columns

Index(['created_at', 'id', 'id_str', 'full_text', 'truncated',
       'display_text_range', 'entities', 'source', 'in_reply_to_status_id',
       'in_reply_to_status_id_str', 'in_reply_to_user_id',
       'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo',
       'coordinates', 'place', 'contributors', 'is_quote_status',
       'quoted_status_id', 'quoted_status_id_str', 'quoted_status_permalink',
       'retweet_count', 'favorite_count', 'favorited', 'retweeted',
       'possibly_sensitive', 'lang', 'quoted_status', 'extended_entities',
       'withheld_scope', 'withheld_copyright', 'withheld_in_countries'],
      dtype='object')

In [75]:
df['retweeted'].value_counts()

False    205445
Name: retweeted, dtype: int64

## coordinations in Retweets 

* User which reply on same tweets [id , in_reply_to_status_id , user , full_text , entities]

* user which quote Tweet [user , quoted_status_id]

## Expand User Info

In [76]:
import ast
df["user"] = df.user.apply(lambda x : ast.literal_eval(x))

In [77]:
df["user"][0]["name"]

'Bazarette74'

In [78]:
## remove special character from string
import re
def remove_special_char(text):
    regrex_pattern = re.compile(pattern = "["
    u"\U0001F600-\U0001F64F"  # emoticons
    u"\U0001F300-\U0001F5FF"  # symbols & pictographs
    u"\U0001F680-\U0001F6FF"  # transport & map symbols
    u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                        "]+", flags = re.UNICODE)
    text = regrex_pattern.sub(r'',text)
    text = re.sub('[^A-Za-z0-9]+', ' ', text)
    return text

text = u'This is a smiley face \U0001f602'
print(remove_special_char(text))

This is a smiley face

In [79]:
df["name"] = df.user.apply(lambda x : x["name"])

In [121]:
df["retweets_id"] = df.user.apply(lambda x : x["id"])

In [80]:
df["name"][55]

'seedoftruthüè¥\u200d‚ò†Ô∏è'

In [81]:
user = df[['id' , 'in_reply_to_status_id' , 'name']]

In [82]:
user["name"] = user.name.apply(lambda x : remove_special_char(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [83]:
user.head(7)

                    id  in_reply_to_status_id                             name
0  1345275503167606784                    NaN                      Bazarette74
1  1345275620830412801                    NaN       Libby JusticeForJohnnyDepp
2  1345276739832979456                    NaN                         Iris IT
3  1345277404948926464                    NaN                              ben
4  1345278408947863552                    NaN    Lorrra BringJohnnyThatHorizon
5  1345278453701087232                    NaN  Princess Consuela Bananahammock
6  1345279031164477441                    NaN                   Meepsia Magpie

In [84]:
user.shape

(205445, 3)

In [85]:
user.isnull().sum()

id                            0
in_reply_to_status_id    139947
name                          0
dtype: int64

In [86]:
user.dropna(axis = 0 , inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [87]:
user['in_reply_to_status_id'] = user['in_reply_to_status_id'].astype('int64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [88]:
user.head(4)

                     id  in_reply_to_status_id         name
10  1345280170584891392    1345079935891873792        Zrw 1
12  1345280328693411840    1345039096134201088        Zrw 1
14  1345280934581563392    1343049464450347008        Zrw 1
16  1345281315407417344    1345076495576870912  waterislife

In [89]:
grouped_df = user.groupby(["in_reply_to_status_id"])
grouped_df.head(3)
grouped_lists = grouped_df["name"].apply(list)
grouped_lists1 = grouped_lists.reset_index()
grouped_lists1.head(3)

   in_reply_to_status_id                  name
0      10332256916738048  [mimi s loves 2pac ]
1     253497497371152384                [Dora]
2     329330584394555392          [Tony Stark]

In [90]:
grouped_lists1.shape

(42739, 2)

In [91]:
grouped_df = user.groupby(["name"])
grouped_df.head(3)
grouped_lists = grouped_df["in_reply_to_status_id"].apply(list)
grouped_lists2 = grouped_lists.reset_index()
grouped_lists2.head(3)

  name                              in_reply_to_status_id
0       [1345138706160754688, 1352847801332485888, 135...
1       [1345397359790866432, 1345502296482877440, 135...
2    0                              [1362639192296091648]

In [92]:
## concatenate all column with each other 
target = grouped_lists1['name']
source = grouped_lists2['name']

In [93]:
## user_replied
user_replied = pd.DataFrame({"source" : source , "target" :target })
user_replied['source'].replace(['' ,' ' , ' 0' , ' 0 ' , ' 2 '], np.nan, inplace=True)
user_replied.dropna(axis = 0 , inplace =True)

In [94]:
user_replied['source'][7]

' 210 1000 '

In [95]:
user_replied.head(30)

,source,target
4,1 fanboy,[Jamile Araujo Martinski]
6,2020 Act 3 Shannon,[Justina Flores]
7,210 1000,[Alejandra]
8,3,[Mrs John Christopher Depp II]
9,4450DAWSON Lill,[ Luis Benny ]
10,5 Project,[am thatdepphead]
11,6901,[Mrs John Christopher Depp II]
12,717,"[Angie, Angie]"
13,AL,[ryan phelps]
14,Abbie Normall,"[YouGottaBeKiddingMe2121, MaryAnn Thorson ]"
15,Ace GoodHeart,"[Kate, Kate]"
16,Acofas,[FMGiveMeTruth ]
17,Adi,"[BeCurious, ad a , Angie, Hekate Black, Dark ..."
18,Adri,[]
19,Aiden L NEW VIDEO,[Johnny is our Grindelwald]
20,Alabama Democrat,[Fleeee]
21,Alexandra,"[Jo, Princess Consuela Bananahammock]"
22,Alicia Jewell,[Genevieve Olin ]
23,Alii thinks hawkeye is actually good,[ Savvy 3 LoveProtectSupportJD]
24,Altha,[Kate]
25,Amanda Kathryn,[deanna pronounced DEENA]
26,Amy the Birthday Ghoul,[Jeon Awa]
27,Angel Depp,[Jamile Araujo Martinski]
28,AngelBBJimin,[Pamela Not a Bot]
29,AngryFoxy,[LunaJohnnyD ]
30,AnnG,[Ashley Lang Rose ]
31,Anna,[Jermaine]
32,Annalee Perez,[Vaielena]
33,Ansgar Odinson,[Kristality]
34,Asamblea de Hermanos JusticeForJohnnyDepp,[FreeThinker]

In [96]:
len(user_replied.iloc[7]['target'])

2

In [97]:
len(user_replied.iloc[8]['target'])

1

In [98]:
user_replied.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13706 entries, 4 to 13710
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   source  13706 non-null  object
 1   target  13706 non-null  object
dtypes: object(2)
memory usage: 837.3+ KB

In [99]:
user_replied['source'] = user_replied['source'].to_list()
user_replied['target'] = user_replied['target'].to_list()

In [60]:
## calculate frequency 
# user_replied['frequency'] = 0
# for i in range(len(user_replied)):
#     user_replied['frequency'][i] = len(user_replied.iloc[i]['target'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [101]:
user_replied.head(20)

,source,target
4,1 fanboy,[Jamile Araujo Martinski]
6,2020 Act 3 Shannon,[Justina Flores]
7,210 1000,[Alejandra]
8,3,[Mrs John Christopher Depp II]
9,4450DAWSON Lill,[ Luis Benny ]
10,5 Project,[am thatdepphead]
11,6901,[Mrs John Christopher Depp II]
12,717,"[Angie, Angie]"
13,AL,[ryan phelps]
14,Abbie Normall,"[YouGottaBeKiddingMe2121, MaryAnn Thorson ]"
15,Ace GoodHeart,"[Kate, Kate]"
16,Acofas,[FMGiveMeTruth ]
17,Adi,"[BeCurious, ad a , Angie, Hekate Black, Dark ..."
18,Adri,[]
19,Aiden L NEW VIDEO,[Johnny is our Grindelwald]
20,Alabama Democrat,[Fleeee]
21,Alexandra,"[Jo, Princess Consuela Bananahammock]"
22,Alicia Jewell,[Genevieve Olin ]
23,Alii thinks hawkeye is actually good,[ Savvy 3 LoveProtectSupportJD]
24,Altha,[Kate]

In [103]:
user_replied.to_csv('user-replied.csv', index=False)

In [122]:
df.columns

Index(['created_at', 'id', 'id_str', 'full_text', 'truncated',
       'display_text_range', 'entities', 'source', 'in_reply_to_status_id',
       'in_reply_to_status_id_str', 'in_reply_to_user_id',
       'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo',
       'coordinates', 'place', 'contributors', 'is_quote_status',
       'quoted_status_id', 'quoted_status_id_str', 'quoted_status_permalink',
       'retweet_count', 'favorite_count', 'favorited', 'retweeted',
       'possibly_sensitive', 'lang', 'quoted_status', 'extended_entities',
       'withheld_scope', 'withheld_copyright', 'withheld_in_countries', 'name',
       'retweets_id'],
      dtype='object')

In [123]:
retweets = df[['name' , 'quoted_status_id', 'retweets_id']]
retweets.dropna(axis = 0 , inplace=True)
retweets['quoted_status_id'] = retweets['quoted_status_id'].astype('int64')

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [124]:
retweets.head(4)

,name,quoted_status_id,retweets_id
0,Bazarette74,1345272802060877824,1296165774692933634
1,Libby ‚ôøÔ∏èüè¥‚Äç‚ò†Ô∏èüá∫üá∏ #JusticeForJohnnyDepp,1345113426176204800,932229195681488896
2,Iris IT. üåç üé∂üé≠ üåç,1344800429033611264,1311387727
4,Lorrra üíúüõ°Ô∏è‚öîÔ∏èüçâüçâüçâ‚öîÔ∏èüõ°Ô∏èüíú#BringJohnnyThatHorizon,1345247822506029056,1212706042724749312

In [125]:
retweets["name"] = retweets.name.apply(lambda x : remove_special_char(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [126]:
retweets.head(6)

                              name     quoted_status_id          retweets_id
0                      Bazarette74  1345272802060877824  1296165774692933634
1       Libby JusticeForJohnnyDepp  1345113426176204800   932229195681488896
2                         Iris IT   1344800429033611264           1311387727
4    Lorrra BringJohnnyThatHorizon  1345247822506029056  1212706042724749312
5  Princess Consuela Bananahammock  1345272802060877824   987240830351151104
6                   Meepsia Magpie  1345136862286012416             45176625

In [127]:
retweets['retweets_id'].value_counts()

232377398              2209
932229195681488896     1945
903178544343162880     1427
2241916310             1158
422048801               727
                       ...
1279211488662691840       1
854499566866972672        1
994648582425907201        1
1155666964997689345       1
14828950                  1
Name: retweets_id, Length: 6539, dtype: int64

In [128]:
retweets.shape

(60232, 3)

In [129]:
retweets.isnull().sum()

name                0
quoted_status_id    0
retweets_id         0
dtype: int64

In [133]:
retweets.head(3)

                         name     quoted_status_id          retweets_id
0                 Bazarette74  1345272802060877824  1296165774692933634
1  Libby JusticeForJohnnyDepp  1345113426176204800   932229195681488896
2                    Iris IT   1344800429033611264           1311387727

In [132]:
## print shape of retweets
retweets.shape

(60232, 3)

In [131]:
retweets['quoted_status_id'].value_counts()

1347291530185342976    199
1375024853976236032    163
1375539848099074048    120
1351645881187987712    107
1347296780640256000     82
                      ...
1356746904714043392      1
1325418222598938624      1
1356953448806146048      1
1356471312311582720      1
1379832643966144512      1
Name: quoted_status_id, Length: 29498, dtype: int64

In [134]:
retweets['retweets_id'].value_counts()

232377398              2209
932229195681488896     1945
903178544343162880     1427
2241916310             1158
422048801               727
                       ...
1279211488662691840       1
854499566866972672        1
994648582425907201        1
1155666964997689345       1
14828950                  1
Name: retweets_id, Length: 6539, dtype: int64

In [139]:
grouped_df = retweets.groupby(["retweets_id"])
grouped_df.head(3)
grouped_lists = grouped_df["name"].apply(set)
grouped_lists3 = grouped_lists.reset_index()
grouped_lists3.head(40)

    retweets_id                                               name
0       6323772                                           {Nor33 }
1       8891552                                             {Etzy}
2       9362272                         {I m Tony Snark Irony Man}
3      10618512                                   {sunicamarkovic}
4      10777302                                               {Em}
5      10907922                                    {Pablo Peixoto}
6      12765332                                        {Monicaaaa}
7      14140213                                  {jessicalockhart}
8      14233120                                                { }
9      14265285                                         {Jon Read}
10     14311514  {OM NOM NOM NOM NOM NOM NOM NOM NOM NOM NOMINOUS}
11     14505754                                       {Myri i am }
12     14791638                             {Erik Montoya Treanor}
13     14828950                                        {J S As C }
14     14847752                                                { }
15     14884472                                      {Bill Schulz}
16     14960142                                            {Holly}
17     14978889                                             {Dee }
18     15140878                {Brianna Michelle Who sLaughingNow}
19     15434192                                                { }
20     15571195                                      { Alexandra }
21     15613710                                     {Jess Garcia }
22     15813051                     {Noelle Hannibal she her BLM }
23     15831521                                         {Nerdista}
24     15906442                                      {breecooley }
25     16070422                                  {JohnnyDeppReads}
26     16146495                               {Alexia Hudson Ward}
27     16200346                                        {Phil Gray}
28     16285294                                           {Cherie}
29     16657893                                              {H95}
30     16829236                                           {sharon}
31     17063715                                          {Rhomany}
32     17328871                                      {Bryan Kelly}
33     17401160                                    {Robert Sharp }
34     17569440                                  {greeeneyedwhwom}
35     17570413                                   {Ivana Escalera}
36     17717815                                         {Toad Ya }
37     17832637                                     {canteverdeal}
38     17897932                                    {Juniper Pearl}
39     18080052                            {Paqtasit Apsalqigwat }

In [140]:
grouped_df = retweets.groupby(["quoted_status_id"])
grouped_df.head(3)
grouped_lists = grouped_df["name"].apply(set)
grouped_lists4 = grouped_lists.reset_index()
grouped_lists4.head(30)

      quoted_status_id                                               name
0    10332256916738048                        { Justice for Johnny Depp }
1   210764378302189600  { Erika ,  , duda, Johnny Depp BR , Tracey Bro...
2   250653251404435456                                      {Persephone }
3   533497351743086592                          {Jamile Araujo Martinski}
4   639870166256480256                     {Mrs John Christopher Depp II}
5   643995096153739264                                                { }
6   736428932648579072                                         {Vaielena}
7   737227132594720768                                             {Luna}
8   754161306618306560                                     {Teri Carson }
9   763015131592699904                                   {FMGiveMeTruth }
10  765580928236290048                           { is off , Gina, brooke}
11  766430360724967424                                     {seedoftruth }
12  766444643500298240                                   {FMGiveMeTruth }
13  766680818940948480                               {Jo, FMGiveMeTruth }
14  766686460699250688  {Serpens1984, Violetta, Kaylee Manning, TerryE...
15  786300163937542144                                           {CARMEN}
16  803286848386650112                                 {Stacey Skirving }
17  809032336369074176                                           {Pomta }
18  856949116148076544                                          {Juliana}
19  863155103846551552                                            {Kris }
20  877281990717747200                      {Ra l S JusticeForJohnnyDepp}
21  879600916432916480                   {Agent Sweet Liquor , JuneJules}
22  884957611640070144                           {amit chaudhary Daniel }
23  895274373107658752                                       { Om Dr mm }
24  924856200860225536                                              {Dee}
25  927454188212141952                       { V d JusticeForJohnnyDepp }
26  932049346173992960                                                { }
27  935691247397822464                                     {Teri Carson }
28  935773148598996992   {Fleeee, Alejandra , Teri Carson , LillyJane916}
29  938975040711794816                  {Teri Carson , Nor33 , AppeLello}

In [144]:
retweets = pd.DataFrame({"source" : grouped_lists3["name"] , "target": grouped_lists4["name"]})

In [145]:
retweets.head(40)

,source,target
0,{Nor33 },{ Justice for Johnny Depp }
1,{Etzy},"{ Erika , , duda, Johnny Depp BR , Tracey Bro..."
2,{I m Tony Snark Irony Man},{Persephone }
3,{sunicamarkovic},{Jamile Araujo Martinski}
4,{Em},{Mrs John Christopher Depp II}
5,{Pablo Peixoto},{ }
6,{Monicaaaa},{Vaielena}
7,{jessicalockhart},{Luna}
8,{ },{Teri Carson }
9,{Jon Read},{FMGiveMeTruth }
10,{OM NOM NOM NOM NOM NOM NOM NOM NOM NOM NOMINOUS},"{ is off , Gina, brooke}"
11,{Myri i am },{seedoftruth }
12,{Erik Montoya Treanor},{FMGiveMeTruth }
13,{J S As C },"{Jo, FMGiveMeTruth }"
14,{ },"{Serpens1984, Violetta, Kaylee Manning, TerryE..."
15,{Bill Schulz},{CARMEN}
16,{Holly},{Stacey Skirving }
17,{Dee },{Pomta }
18,{Brianna Michelle Who sLaughingNow},{Juliana}
19,{ },{Kris }
20,{ Alexandra },{Ra l S JusticeForJohnnyDepp}
21,{Jess Garcia },"{Agent Sweet Liquor , JuneJules}"
22,{Noelle Hannibal she her BLM },{amit chaudhary Daniel }
23,{Nerdista},{ Om Dr mm }
24,{breecooley },{Dee}
25,{JohnnyDeppReads},{ V d JusticeForJohnnyDepp }
26,{Alexia Hudson Ward},{ }
27,{Phil Gray},{Teri Carson }
28,{Cherie},"{Fleeee, Alejandra , Teri Carson , LillyJane916}"
29,{H95},"{Teri Carson , Nor33 , AppeLello}"
30,{sharon},{Teri Carson }
31,{Rhomany},{Teri Carson }
32,{Bryan Kelly},{Marianne Lloyd}
33,{Robert Sharp },{ Om Dr mm }
34,{greeeneyedwhwom},{ Martpunchispunchis}
35,{Ivana Escalera},"{Abolish All Schools Katy , The Phantom of the..."
36,{Toad Ya },"{ is off , Patcar}"
37,{canteverdeal},{Courtney Lynn Murray}
38,{Juniper Pearl},{leti as augustine from folklore }
39,{Paqtasit Apsalqigwat },{Ghost}

In [150]:
(retweets["target"][1])

{' ',
 ' Erika ',
 ' s MelodyStan Johnny Depp',
 'Johnny Depp BR ',
 'Maf ',
 'Tracey Brooks',
 'duda'}

In [157]:
retweets.isnull().sum()

source    0
target    0
dtype: int64

In [156]:
retweets.dropna(axis =0 , inplace = True)

In [158]:
print(len(retweets["target"][1]))

7

In [166]:
retweets.head(12)

,source,target,frequency
0,{Nor33 },{ Justice for Johnny Depp },1
1,{Etzy},"{ Erika , , duda, Johnny Depp BR , Tracey Bro...",7
2,{I m Tony Snark Irony Man},{Persephone },1
3,{sunicamarkovic},{Jamile Araujo Martinski},1
4,{Em},{Mrs John Christopher Depp II},1
5,{Pablo Peixoto},{ },1
6,{Monicaaaa},{Vaielena},1
7,{jessicalockhart},{Luna},1
8,{ },{Teri Carson },1
9,{Jon Read},{FMGiveMeTruth },1
10,{OM NOM NOM NOM NOM NOM NOM NOM NOM NOM NOMINOUS},"{ is off , Gina, brooke}",3
11,{Myri i am },{seedoftruth },1

In [165]:
retweets["frequency"] = 0
retweets["frequency"] = retweets.target.apply(lambda x : len(x))

In [167]:
retweets.to_csv("user_quoted.csv" , index =False)